<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/blog.css') }}">
    <link rel="icon" href= "{{ url_for('static', filename='images/logo.png') }}">
    <title>Blog</title>
</head>

<body>
    <div class="head-container">
        <div class="left-content">
            TBD
        </div>
        <div class="profile-container">
            <div class="profile-circle" id="profile-circle">
                <img src="{{image_url2}}" alt="Profile Picture">
            </div>
            <div class="dropdown" id="dropdown">
                <form action="/Settings" method="get" enctype="application/x-www-form-urlencoded" class="right-content">
                    <label for="settings">Settings</label>
                    <input type="submit" id="settings" class="hidden">
                </form>
                <form action="/logout" method="post" enctype="application/x-www-form-urlencoded" class="right-content">
                    <label for="logout">Log Out</label>
                    <input type="submit" id="logout" class="hidden">
                </form>
            </div>
        </div>
    </div>

    <!-- this is the user information that is displayed on the left side -->
    <div class = "content-container">
        <div class="user-info-container">
            <label for="file-upload" class="prof-pic-wrapper">
                <img src="{{image_url}}" alt="profile picture" class="prof_pic" id="profile-picture">
                <form action="/uploadProfilePicture" method="post" id="image-form" enctype="multipart/form-data">
                    <label for="file-upload" class="upload-button">Edit</label>
                    <input type="file" id="file-upload" name="file-upload" style="display: none;" accept="image/png, image/jpeg" onchange="submitForm()">
                </form>
            </label>
            <div class="display-Username">{{UsernameReplace}}</div>
            <div class="counters">
                <span  class="counter-item">Following: {{followingCount}}</span>
                <span  class="counter-item">Followers: {{followerCount}}</span>
                <span  class="counter-item">Posts: {{postCount}}</span>
            </div>
        </div>

        <!-- this is the where you post blog/images -->
        <div class="chat-container">
            <form action="/blogPage" method="post" enctype='multipart/form-data'>
                <div class="post">
                    <textarea class="post-input" type="text" id="message" name="message" placeholder="Want to share something? Type it here"></textarea>
                    <label for="image-upload" class="Upload-button">Upload</label>
                    <input type="file" id="image-upload" name="image-upload" style="display: none;">
                    <input type="hidden" id="xsrfToken" name="xsrfToken" value="{{xsrf}}">
                    <br>
                    <button class="publish-button" type="submit">Publish</button>
                </div>
            </form>
            
            
            <!-- this is the display part -->
            <div class="published-post">
                <div id = "chatMessage" class="content"></div>
            </div>
        </div>
    </div>
</body>
{% if error_message %}
    <script>
        alert('{{ error_message }}');
    </script>
{% endif %}
<script src="{{ url_for('static', filename='function/function.js') }}"></script> 
<script src="{{ url_for('static', filename='function/blog.js') }}"></script> 
</html>
