<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/blog.css') }}">
    <link rel="icon" href= "{{ url_for('static', filename='images/logo.png') }}">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <title>Blog</title>
</head>

<body>
    <div class="head-container">
        <div class="left-content">
            TBD
        </div>
        <form action="/register" method="get" enctype="application/x-www-form-urlencoded">
            <button type="submit" class="register-button">Register</button>
        </form>
        <form action="/login" method="get" enctype="application/x-www-form-urlencoded">
            <button type="submit" class="login-button">Login</button>
        </form>
    </div>

    <!-- this is the user information that is displayed on the left side -->
    <div class = "content-container">
        <div class="user-info-container">
            <label for="file-upload" class="prof-pic-wrapper">
                <img src="{{ url_for('static', filename='images/default.png') }}" alt="profile picture" class="prof_pic" id="profile-picture">
                <label for="file-upload" class="upload-button">Edit</label>
            </label>
            <div class="display-Username">{{UsernameReplace}}</div>
            <div class="counters">
                <span class="counter-item">Following: {{followingCount}}</span>
                <span class="counter-item">Followers: {{followerCount}}</span>
                <span class="counter-item">Posts: {{postCount}}</span>
            </div>
        </div>

        <!-- this is the where you post blog/images -->
        <div class="chat-container">
            <form action="/blogPage" method="post" enctype='multipart/form-data'>
                <div class="post">
                    <textarea class="post-input" type="text" id="message" name="message" placeholder="Want to share something? Type it here"></textarea>
                    <input type="hidden" id="xsrfToken" name="xsrfToken" value="{{xsrf}}">
                    <br>
                    <button class="publish-button" onclick="submitPost()">Publish</button>
                </div>
            </form>
            
            <!-- this is the display part -->
            <div class="published-post">
                <div id = "chatMessage" class="content"></div>
            </div>
        </div>
    </div>
</body>
<script src="{{ url_for('static', filename='function/function.js') }}"></script> 
<script>
    // Get the profile picture element
    var profilePicture = document.getElementById('profile-picture');

    // Add a click event listener to the profile picture
    profilePicture.addEventListener('click', function() {
        // Display an alert when the profile picture is clicked
        alert('Please login to edit your profile picture.');
    });
</script>
</html>
