<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/blog.css') }}">
    <link rel="icon" href= "{{ url_for('static', filename='images/logo.png') }}">
    <link rel="icon" href= "{{ url_for('static', filename='images/logo.png') }}">
    <title>Blog</title>
</head>

<body>
    <div class="head-container">
        <div class="left-content">
            TBD
            <button>login</button>
            <!-- <link rel="icon" href= "{{ url_for('static', filename='images/logo.png') }}"> -->
        </div>
        <div class="right-content">
            <button class = "logout-button"> logout </button>
        </div>
    </div>

    <!-- this is the user information that is displayed on the left side -->
    <div class = "content-container">
        <div class="user-info-container">
            <div class="display-Username">{{UsernameReplace}}</div>
            <div class="counters">
                <span>Following: {{followingCount}}</span>
                <span>Followers: {{followerCount}}</span>
                <span>Posts: {{postCount}}</span>
            </div>
        </div>

        <!-- this is the where you post blog/images -->
        <div class="chat-container">
            <form action="/blogPage" method="post" enctype='application/x-www-form-urlencoded'>
                <div class="post">
                    <textarea class= "post-input" type="text" id="message" name="message" placeholder="want to share something? Type it here"></textarea>
                    <input type="hidden" id="xsrfToken"  name="xsrfToken" value="{{xsrf}}">
                </br>
                    <button class="Upload-button">Upload</button>
                    <button class="publish-button" type="submit">Publish</button>
                </div>  
            </form>
            
            <!-- this is the display part -->
            <div class="published-post">
                <div id = "chatMessage" class="content"></div>
                     <!-- Chat messages will be displayed here -->
                <!-- <div class="icons">
                    <label>
                        <button class="like-button">👍 ({{ like_count }})</button>
                    </label>
                </div> -->
            </div>
        </div>
    </div>
</body>
<script src="{{ url_for('static', filename='function/function.js') }}"></script> 
</html>
