<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <title>TBD</title>
    <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}">
</head>
<body>

    <div class="navbar">
        <div class="navbar">
            <form action="/register" method="get" enctype="application/x-www-form-urlencoded">
                <button type="submit" class="register-button">Register</button>
            </form>
            <form action="/login" method="get" enctype="application/x-www-form-urlencoded">
                <button type="submit" class="login-button">Login</button>
            </form>
        </div>
    </div>

    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Blog Image" id="GoBlog">
    <p>Create your unique and stunning blog easily</p>
    <form action="/blogPage" method="get" enctype="application/x-www-form-urlencoded" onsubmit="return blogConfirm()">
        <button type="submit" class="button-style" id="triggerBtn">
            <span class="block-text">Create your Blog</span>
        </button>
    </form>

    <!-- Popup Container -->
    <div class="popup-container" id="popupContainer">
        <div class="popup">
            <div class="popup-text">Do you want to be redirected to the blog page as a guest?</div>
            <button type="button" class="popup-button yes-button" onclick="redirectToBlogPage()">Yes</button>
            <button type="button" class="popup-button no-button" onclick="redirectToLoginPage()">No</button>
        </div>
    </div>
    
</body>

<script src="{{ url_for('static', filename='function/popup.js') }}"></script> 



</html>

