<!-- <!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="style.css">
    <title>Landing Page</title>
</head>
<body>
    <img src="image.png">
    <p>Create your unique and stunning blog easily.</p>
    <a href = "blog.html" target="_blank">
        <button class="button-style">
            <span class="block-text">Create your Blog</span>
        </button>
    </a>
</body>

</html> -->

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <title>Landing Page</title>
</head>
<body>
    <img src="{{ url_for('static', filename='images/image.png') }}" alt="Blog Image">
    <p>Create your unique and stunning blog easily.</p>
    <a href="blog.html" target="_blank">
        <button class="button-style">
            <span class="block-text">Create your Blog</span>
        </button>
    </a>
</body>
</html>