<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}">
    <title>Login</title>
    <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <div class='registerform'>
        <h1 class='Regwelcome'>Welcome Back</h1>
        <div id="loginfailed" class='failmsg' style="color: red;">{{ loginFailMessage|default('') }}</div>
        <form action="/login" method="post" enctype='application/x-www-form-urlencoded'>
            <input type="email" id="login_email" name="login_email" required placeholder="Email"/>
            <br />
            <input id="login-pass" type="password" name="login_pass" required placeholder="Password"/>
            <br />
            <input type="submit" id='login_submit' value="Log In">
        </form>
        <div class="or-container">
            <span class="or-text">OR</span>
        </div>
        <br />
        <div class='have_acc'>
            <span class="haccount">Need an account? <a href="/register" class="login-link">Register here</a></span>
        </div>
    </div>
    <div class="vertical-line"></div>
</body>
</html>