body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, lightblue, #ffffff);
    margin-top: 0px; 
    margin-right: 0px; 
    margin-left: 0px;
}

.head-container{
    display: flex;
    background-color: white;
}

.left-content {
    flex: 1; 
    padding-top: 5px;
    padding-left: 5px;
    font-weight: bolder;
    color: #007bff;
    font-size: 50px; 
}

.right-content {
    font-weight: bold;
}

.content-container{
    display: flex;
    font-family: 'Manrope', sans-serif;
}
.user-info-container {
    width: 15%;
    margin-top: 20px;
    background-color: white;
    border-radius: 3%;
    border-left-style: solid;
    border: lightblue;
    border-left-width: 20px;
    margin-left: 10px;
    font-family: 'Manrope', sans-serif;
}
.counters {
    display: flex;
    flex-direction: column; /* Change the flex direction to column */
    justify-content: space-between;
    margin-top: 20px;
    padding: 10% 5%;
    font-size: 12px;
    line-height: 2;
    font-family: 'Manrope', sans-serif;
}

.counter-item{
    margin-bottom: 15%; 
}
.counters span {
    font-weight: bold;
}
.display-Username{
    padding-left: 40%;
    padding-top: 10%;
    font-weight: bold;
}
.chat-container {
    max-width: 100%; 
    margin: 0 auto;
    padding: 20px;
}

.post {
    border-radius: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-left: -200px;
    width: 700px;
    height: 200px;

}
.username {
    font-weight: bold;
    background-color: white;
}
.post-input[type="text"] {
    width: 90%;
    padding-left: 7px;
    padding-right: 7px;
    overflow-wrap: break-word;
    align-self: center;
    margin-top: 10px;
    padding-bottom: 20px;
    padding-top: 3px;
    border-top-width: 0px;
    border-top-style: solid;
    border-bottom-width: 0px;
    border-bottom-style: solid;
    border-right-style: solid;
    border-right-width: 0px;
    border-left-style: solid;
    border-left-width: 0px;
    height: 132px; width: 685px;
    resize: none;
}

.Upload-button{
    background-color: #2d8ff7;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 30px;
    align-self: flex-start;
    margin-left: 540px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.458); 
    border-radius: 5px;
}
.publish-button {
    background-color: #2d8ff7;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    align-self: flex-end; 
    font-weight: bold;
    margin-top: -25.7px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.458); 
    border-radius: 5px;
}

.edit-button{
    background-color: #2d8ff7;
    color: #fff;
    border: none;
    padding: 5px 5px;
    cursor: pointer;
    align-self: flex-end; 
    font-weight: bold;
    margin-top: -25.7px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.458); 
    border-radius: 5px;
    margin-left: 5px;
}

.delete-button{
    background-color: #2d8ff7;
    color: #fff;
    border: none;
    padding: 5px 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 30px;
    align-self: flex-start;
    margin-left: 540px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.458); 
    border-radius: 5px;
}

.delete-button:hover,
.edit-button:hover,
.Upload-button:hover,
.publish-button:hover{
    background: #005A8C; /* Change background color on hover */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); /* Change box shadow on hover */
}

.published-post{
    display: "none";
    width: 0px;
    height: 0px;
}
.chat-message {
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 20px;
    background-color: white;
    margin-left: -200px;
    margin-right: -520px;
    border-radius: 3%;
    max-height: auto; 
    overflow-y: auto; 
    position: relative;
}

.content {
    margin-top: 10px;
    background-color: white;
    border-radius: 3%;
    font-size: 16px; 
}
.icons {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}
.icons span {
    margin-right: 10px;
}
.content{
    background-color: #ffffff;
}
.like-button{
    margin-right: 5px;
    margin-bottom: 3px;
    background-color: white;
    border: none;
}

.button-style:hover,
.logout-button:hover,
.login-button:hover,
.register-button:hover{
    background: #005A8C; /* Change background color on hover */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); /* Change box shadow on hover */
}


.login-button,
.logout-button,
.register-button {
    background-color: #007bff;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.556);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.458); 
    border: none;
    margin: 5px;
    padding: 15px 20px; 
    width: 150px; 
    cursor: pointer;
    border-radius: 8px;
    font-family: 'Lexend', sans-serif; 
    font-size: 20px;
    line-height: 1; 
}