body {
    font-family: 'Manrope', sans-serif;
    background: linear-gradient(to right, lightblue, #ffffff);
    margin-top: 0px; 
    margin-right: 0px; 
    margin-left: 0px;
}

.head-container{
    display: flex;
    background-color: white;
}

.left-content {
    flex: 1; 
    padding-top: 5px;
    padding-left: 5px;
    font-weight: bolder;
    color: #007bff;
    font-size: 50px; 
    cursor: pointer;
    pointer-events: none; 
    user-select: none;
}

.right-content {
    font-weight: bold;
}

.content-container{
    display: flex;
    font-family: 'Manrope', sans-serif;
}


.user-info-container {
    position: relative;
    width: 15%;
    margin-top: 20px;
    background-color: white;
    border-radius: 15px;
    border-left: 20px solid lightblue;
    margin-left: 10px;
    font-family: 'Manrope', sans-serif;
    overflow: hidden;
    max-height: 500px;
}

.prof_pic {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 100px; 
    height: 100px; 
    border-radius: 50%;
    object-fit: cover;
    transition: filter 0.3s ease;
} 

.user-info-container:hover .prof_pic {
    filter: brightness(0.8);
}

.prof-pic-wrapper {
    display: block;
    position: relative;
    margin-bottom: 20px; 
    cursor: pointer; 
    margin-top: 10px;
}

.upload-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px 10px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    cursor: pointer;
    display: none;
    color: grey;
}

.prof-pic-wrapper:hover .upload-button {
    display: block; 
}

.counters {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    margin-top: 20px;
    padding: 10% 5%;
    font-size: 12px;
    line-height: 2;
    font-family: 'Manrope', sans-serif;
}

.counter-item{
    margin-bottom: 15%; 
}
.counters span {
    font-weight: bold;
}

.display-Username {
    position: relative;
    text-align: center; 
    padding-top: 10px; 
    font-weight: bold;
}
.chat-container {
    max-width: 100%; 
    margin: 0 auto;
    padding: 20px;
}

.post {
    border-radius: 0.75rem;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-left: -200px;
    width: 700px;
    height: 200px;
    position: relative;
}

.post-input[type="text"] {
    width: 90%;
    padding-left: 7px;
    padding-right: 7px;
    overflow-wrap: break-word;
    align-self: center;
    margin-top: 10px;
    padding-bottom: 20px;
    padding-top: 3px;
    border-top-width: 0px;
    border-top-style: solid;
    border-bottom-width: 0px;
    border-bottom-style: solid;
    border-right-style: solid;
    border-right-width: 0px;
    border-left-style: solid;
    border-left-width: 0px;
    height: 132px; width: 685px;
    resize: none;
}

.button-container {
    display: flex;
    justify-content: flex-end; 
    position: absolute;
    bottom: 10px; 
    right: 10px; 
}

.Upload-button{
    background-color: #2d8ff7;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    align-self: flex-end; 
    font-weight: bold;
    margin-top: -25.7px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.458); 
    border-radius: 5px;
    margin-right: 10px;
}

.publish-button {
    background-color: #2d8ff7;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    align-self: flex-end; 
    font-weight: bold;
    margin-top: -25.7px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.458); 
    border-radius: 5px;
}


.like-button:hover,
.delete-button:hover,
.edit-button:hover,
.Upload-button:hover,
.publish-button:hover{
    background: #005A8C; 
    /*box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);*/
}



.icons {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}
.icons span {
    margin-right: 10px;
}



.button-style:hover,
.login-button:hover,
.register-button:hover{
    background: #005A8C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
}


.login-button,
.register-button {
    background-color: #007bff;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.556);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.458); 
    border: none;
    margin: 5px;
    padding: 15px 20px; 
    width: 150px; 
    cursor: pointer;
    border-radius: 8px;
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    line-height: 1; 
}

.profile-container {
    position: relative;
    display: inline-block;
    margin-right: 3%;
    margin-top: 5px;
}

.profile-circle {
    position: relative;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.profile-circle img {
    width: 100%;
    height: auto;
    display: block;
}

.buttons-container {
    position: absolute;
    top: 70px; 
    left: 0;
    display: none;
}

.setting-button,
.signout-button {
    display: block;
    margin-bottom: 5px;
}

.profile-container {
    position: relative;
    display: inline-block;
    margin-right: 3%;
    margin-top: 5px;
}

.profile-circle {
    position: relative;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.profile-circle img {
    width: 100%;
    height: auto;
    display: block;
}

.dropdown {
    position: absolute;
    top: 100%; 
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    right: -44%;
    font-family: Arial, sans-serif;
}

.dropdown.show {
    display: block;
}

.dropdown label {
    display: block;
    padding: 8px 10px;
    cursor: pointer;
}

.dropdown label:hover {
    background-color: #f2f2f2;
}

.hidden {
    display: none;
}

.blog-picture-container {
    display: flex;
    align-items: center; 
    justify-content: center; 
    
}

.blog-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    margin-right: 10px; 
    float: left;
}

.username {
    font-weight: bold;
    float: left;
}

.chat-message {
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 20px;
    background-color: white;
    border-radius: 0.75rem;
    max-width: 700px;
    position: relative;
    display: flex;
    flex-direction: column; 
    margin-left: -200px;
    margin-right: -520px;
    font-family: 'Manrope', sans-serif;

}

.content {
    margin-top: 10px;
    word-wrap: break-word; 
    text-indent: 10px;
}

.like-button,
.delete-button,
.edit-button {
    background-color: #2d8ff7;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 40px; 
}

.blog-buttons-container {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}

.profile-button {
    background-color: #007bff;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.556);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.458); 
    border: none;
    margin: 5px;
    padding: 15px 20px; 
    cursor: pointer;
    border-radius: 8px;
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    line-height: 1; 
    display: flex; /* Add display flex */
    align-items: center; /* Center vertically */
}

.profile-button:hover {
    background: #005A8C;
}


.user-lists{
    position: fixed;
    right: 5%; 
    top: 30%; 
    width: 250px; 
    height: 100%; 
    overflow-y: auto; 
}

.user-lists label {
    font-family: 'Manrope', sans-serif; 
    font-weight: bold; 
    font-size: larger; 
    text-align: center; 
    display: block; 
    width: 100%; 
    margin: auto; 
    line-height: 1.5;
}

#online_users {
    text-align: left;
    
}
 #online_users div {
        margin-top: 10px;
        margin-bottom: 10px;
    }

.user-picture-container {
    display: flex;
    background-color: #f2f2f2;
    border-radius: 20px;
}

.user-circle {
    margin-left: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    margin-right: 10px; 
    float: left;
}

.user-picture-container:hover {
    background: #005A8C; 
}

