body {
    background-color: #ffffff;
}

h1 {
    text-align: center;
    color: #B6b0dd;
}

p{
    position: absolute;
    width: 850px;
    height: 280px;
    left: calc(50% - 850px/2 + 0.5px);
    top: 390px;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    color: #B6B0DD;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

img{
    position: absolute;
    width: 500px;
    height: 500px;
    left: -100px;
    top: -90px;
}


.button-style {
    position: absolute;
    width: 399px;
    height: 110px;
    left: calc(50% - 399px/2);
    top: 610px;
    background: #00D1FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.block-text {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}




